html {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth
}

body {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin: auto;
}

article {
    margin-left: 2em;
    scroll-behavior: smooth;
}

.SocialIcons,
.logoRSSchool {
    height: 50px;
}

a.Mylogo {
    background: url(logo.png) no-repeat;
    display: block;
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

a.Mylogo:hover {
    background: url(logo2.png) no-repeat;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.ContactList,
.NavigationList {
    list-style-type: none;
}
 


header {
    display: flex;
    background: rgba(50, 50, 50, 0.5);
    margin: 0 auto;
    flex-wrap: wrap;
}

main {
    display: flex;
    margin: 0 auto;
    padding: auto;
    border: 2px solid black;
    flex-wrap: wrap;
    background-color: rgba(150, 150, 150, 0.3);
}


footer {
    display: flex;
    justify-content: space-around;
    background: rgba(50, 50, 50, 0.5);
    flex-wrap: wrap;
}

.SocialFooter,
.ContactFooter {
    display: flex;
    flex-wrap: wrap;
}

.skillsList li {
    list-style-type: none;
}

.skillsList li h4::before {
    content: '\2611    ';
}

h3:hover {
    font-size: 120%;
}

.Project {
    width: 10vw;
}



.ContactTel::before {
    content: "\2706";
    margin-right: 5px;
}

.ContactMail::before {
    content: "\0040";
    margin-right: 5px;
}

.projectSpan {
    font-weight: normal;
    font-size: large;
}