html {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth
}

body {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin: auto;
}

article {
    scroll-behavior: smooth;
}

.SocialIcons {
    width: 50px;
    height: 50px;
}

.logoRSSchool {
    height: 50px;
}

.Mylogo {
    width: 200px;
    height: 200px;
}



a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.ContactList,
.NavigationList {
    list-style-type: none;
}

header {
    display: flex;
    background: rgba(50, 50, 50, 0.5);
    margin: 0 auto;
    flex-wrap: wrap;
}

main {
    display: flex;
    margin: 0 auto;
    padding: auto;
    border: 2px solid black;
    flex-wrap: wrap;
}


footer {
    display: flex;
    justify-content: space-around;
    background: rgba(50, 50, 50, 0.5);
    flex-wrap: wrap;
}

.SocialFooter,
.ContactFooter {
    display: flex;
    flex-wrap: wrap;
}

.skillsList li {
    list-style-type: none;
}

.skillsList li h4::before {
    content: '+ ';
}

h3:hover {
    font-size: 140%;
}